*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* color: black; */

}

.main{
    display: flex;
   align-items: center;
    padding: 3%;
    width: 100vw;
    height: 5rem;
    border: 1px solid black;
    justify-content: space-around;
    background-color: rgba(243, 243, 243, 0.452);

}

.leftPart{
    cursor: pointer;
}

a{
    margin-left: 3rem;
    font-weight: 500;
    color: black;
}

.homeA{
    color: #551A8B ;
}